{% extends 'adminhimeindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/myapp/adminchangepassword/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>Current password</th>
      <td>
      <input type="password" name="textfield" required id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <th>New password</th>
      <td>
      <input type="password" name="textfield2" required id="textfield2" class="form-control"  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$"
           title="Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one digit, and one special character." /></td>
    </tr>
    <tr>
      <th>Confirm password</th>
      <td>
      <input type="password" name="textfield3" required id="textfield3" class="form-control" /></td>
    </tr>
    <tr>

      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}