{% extends 'adminhimeindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/myapp/viewmechpost/#viewreq">
    {% csrf_token %}
  <table class="pull-left" style="width: 400px">
    <tr>
      <td>
      <input type="text" placeholder="Search by Mechanic name" name="textfield" id="textfield" class="form-control" /></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table>
<br>
  <table class="table table-bordered">
    <tr>
      <th>SLNO</th>
      <th>Name</th>
        <th>Gender</th>
      <th>Address</th>
      <th>Phone</th>
      <th>E-mail</th>
      <th>Specialization</th>

      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px"> {{ forloop.counter }}</td>
      <td>&nbsp;{{ i.mechanic_name }}</td>
        <td>&nbsp;{{ i.gender }}</td>
      <td>&nbsp;{{ i.district }},<br>{{ i.place }},<br>{{ i.post }},<br>{{ i.pin }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;{{ i.specialization }}</td>

      <td><a href="/myapp/admin_approvemech/{{ i.LOGIN.id }}"class="btn btn-success">Approve</a></td>
      <td><a href="/myapp/admin_rejmech/{{ i.id }}"class="btn btn-danger">Reject</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}