<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>User Home</td>
    </tr>
    <tr>
      <td><a href="/myapp/user_viewnearestmech/">View nearest mechanic</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_viewservicecenter/">View service center</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_viewpump/">View petrol pump</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_viewtow/">View tow service</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_chat/">Chat with mechanic</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_addfeedback/">Add feedback</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/user_changepassword/">Change password</a></td>
    </tr>
    <tr>
      <td><a href="/myapp/logout/">Logout</a></td>
    </tr>
    
  </table>
</form>
</body>
</html>
