{% extends 'userhomeindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
{% csrf_token %}

<br>
  <table class="table table-bordered">
    <tr>
      <th>SLNO</th>
      <th>Date</th>
          <th>User</th>
      <th>Rating</th>

    </tr>
      {% for i in data %}
    <tr>
      <td width="50px"> {{ forloop.counter }}</td>
      <td> {{ i.date }}</td>
         <td>&nbsp;{{ i.USER.user_name }} <br> {{ i.USER.email }}</td>

      <td> {{ i.rating }}</td>

    </tr>
      {% endfor %}
  </table>
<tr align="right">
        <td colspan="2"><a href="/myapp/rating/{{ id }} #viewreq" class="btn btn-warning">Rate</a></td>
</tr>



</form>
</body>
{% endblock %}